<nav class="light-blue">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Portfolio</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#profile">Profile</a></li>
      <li><a href="#history">History</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#works">Works</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#profile">Profile</a></li>
      <li><a href="#history">History</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#works">Works</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
